.quiz-main {
    .container{
        .quiz-main_wrapper {
            width: 100%;
            margin-top: 60px;
            position: relative;
            .question {
                border-radius: 20px;
                box-shadow: 2px 0 15px 10px rgba(0, 0, 0, 0.1);
                .question_container {
                    width: 100%;
                    padding: 28px 65px;
                    .question_title {
                        font-family: 'Raleway_bold',sans-serif;
                        font-size: @title_desktop;
                        text-align: center;
                    }
                    .question_title_text {
                        text-align: center;
                    }
                    .steps {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 553px;
                        margin: 0 auto;
                        margin-top: 48px;
                        .step {
                            width: 77px;
                            height: 13px;
                            border-radius: 45px;
                            background-color: #FFE7C3;
                            &:not(:last-child) {
                                margin-right: 18px;
                            }
                        }
                        .step--active {
                            background-color: #63C44B;
                        }
                    }
                    .accent_question {
                        position: relative;
                        margin-top: 45px;
                        min-height: 169px;
                        padding-top: 30px;
                        padding-left: 35px;
                        border: 2px dashed @black;
                        border-radius: 30px;
                            .temp_result-boss {
                                position: absolute;
                                top: 23%;
                                right: 1%;
                                display: flex;
                                justify-content: flex-end;
                                width: 100%;
                                &::before {
                                    position: absolute;
                                    top: -10px;
                                    right: 50px;
                                    content: url(../img/desktop/boss_desk.png);
                                }
                                .temp_result-boss_text {
                                    width:10%;
                                    color: @secondary_color;
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                            }
                        .accent_question_text {
                            width: 65%;
                            font-family: 'Raleway',sans-serif;
                            font-weight: 500;
                            font-size: @title_desktop;
                        }
                    }
                    .choice {
                        width: 100%;
                        display: flex;
                        .choice_form {
                                width: 38%;
                                margin-top: 85px;
                            .choice_label {
                                position: relative;
                                width: 100%;
                                height: 75px;
                                display: flex;
                                align-items: center;
                                border: 1px solid @accent_color;
                                border-radius: 15px;
                                &:not(:last-child) {
                                    margin-bottom: 20px;
                                }
                                .choice_input {
                                    position: absolute;
                                    width: 1px;
                                    height: 1px;
                                    overflow: hidden;
                                    clip: rect(0 0 0 0);
                                    padding-left: 20px;
                                }
                                .radio-style {
                                    position: absolute;
                                    left: 19px;
                                    width: 29px;
                                    height: 29px;
                                    border: 2px solid @accent_color;
                                    border-radius: 50%;
                                }
                                .choice_input:checked + .radio-style::before {
                                    position: absolute;
                                    content: "";
                                    width: 17px;
                                    height: 17px;
                                    background: @accent_color;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                    border-radius: 50%;

                                }
                                .choice_text {
                                    padding-left: 62px;
                                    font-size: @checkbox_desktop;
                                }
                            }
                        }
                        .temp_result-wrapper {
                            width: 30%;
                            max-height: 440px;
                            position: relative;
                            margin-top: 31px;
                            margin-left: auto;
                            border: 1px solid @accent_color;
                            border-radius: 15px;
                            .temp_result {
                                .temp_result_container {
                                    padding: 13px 17px;
                                }
                                .temp_result_title {
                                    margin: 0;
                                    font-size: 12px;
                                    font-weight: 300;
                                    color: @text_color;
                                }
                                .temp_result_calling {
                                    margin-top: 18px;
                                    .raleway_bold();
                                    font-size: 21px;
                                }
                                .temp_result_calling_2 {
                                    margin: 0;
                                    margin-top: 25px;
                                    margin-bottom: 5px;
                                    font-size: 12px;
                                    font-weight: 300;
                                    color: @text_color;
                                    text-align: right;
                                }
                                .temp_result-list {
                                    margin-top: 37px;
                                    margin-bottom: 24px;
                                    .temp_result-list-item {
                                        position: relative;
                                        padding-left: 25px;
                                        &::before {
                                            position: absolute;
                                            left: -2px;
                                            top: 2px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            content: '1';
                                            width: 22px;
                                            height: 22px;
                                            background: @num_color;
                                            color: @white;
                                            font-size: 12px;
                                            font-weight: 500;
                                            border-radius: 50%;
                                        }
                                        .temp_result-list-item_text {
                                            font-size: 15px;
                                            line-height: 27px;
                                            font-weight: 500;
                                        }
                                    }
                                    .temp_result-list-item:last-child {
                                        &::before {
                                            content: "2";
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .block-buttons {
                        height: 80px;
                        display: flex;
                        align-items: center;
                        padding-left: 15px;

                        .btn-prew {
                            width: 79px;
                            height: 79px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0;
                            margin-right: 30px;
                            .raleway_bold();
                            font-size: 39px;
                        }
                        .btn-next {
                            width: 311px;
                            height: 79px;
                        }
                    }
                    .block-buttons_3 {
                        margin-top: 75px;
                    }
                }
            }
        }
    }
}

@media (min-width: @laptop) and (max-width: @desktop) {
    .quiz-main {
        .container{
            .quiz-main_wrapper {
                margin-top: 0;
                .question {
                    box-shadow: none;
                    .question_container {
                        padding: 64px 0;
                        .question_title {
                            width: 70%;
                            margin: 0 auto;
                            font-size: 30px;
                        }
                        .question_title_text {
                            margin-top: 10px;
                            font-size: 18px;
                        }
                        .steps {
                            max-width: 333px;
                            margin-top: 24px;
                            .step {
                                width: 65px;
                                height: 11px;
                                &:not(:last-child) {
                                    margin-right: 15px;
                                }
                            }
                        }
                        .accent_question {
                            width: 90%;
                            margin: 0 auto;
                            margin-top: 31px;
                            min-height: 141px;
                            .temp_result-boss {
                                top: 34%;
                                right: 2%;
                                display: flex;
                                &::before {
                                    right: 70px;
                                    content: url(../img/laptop/boss.png);
                                }
                                .temp_result-boss_text {
                                    width:11%;
                                    font-size: 12px;
                                }
                            }
                            .accent_question_text {
                                width: 70%;
                                font-size: 30px;
                                text-align: left;
                            }
                        }
                        .accent_question_3 {
                            padding: 20px 29px;
                        }
                        .accent_question_4 {
                            padding: 16px 29px;
                        }
                        .choice {
                            flex-direction:row;
                            .choice_form {
                                width: 38%;
                                margin-top: 71px;
                                .choice_label {
                                    width: 100%;
                                    height: 62px;
                                    margin-left: 20px;
                                    &:not(:last-child) {
                                        margin-bottom: 17px;
                                    }
                                    .radio-style {
                                        width: 24px;
                                        height: 24px;
                                    }
                                    .choice_input:checked + .radio-style::before {
                                        width: 14px;
                                        height: 14px;
                                    }
                                    .choice_text {
                                        width: 95%;
                                        font-size: 14px;
                                    }
                                }
                            }
                            .temp_result-wrapper {
                                width: 30%;
                                margin: 0;
                                margin-left: auto;
                                margin-top: 40px;
                                margin-right: 45px;
                                .temp_result {
                                    .temp_result_container {
                                        padding: 11px 14px;
                                    }
                                    .temp_result_calling {
                                        width: 100%;
                                        margin-top: 17px;
                                        font-size: 18px;
                                    }
                                    .temp_result-list {
                                        margin-top: 30px;
                                        margin-bottom: 15px;
                                        .temp_result-list-item {
                                            position: relative;
                                            padding-left: 22px;
                                            &::before {
                                                left: 0;
                                                top: 2px;
                                                width: 16px;
                                                height: 16px;
                                            }
                                            .temp_result-list-item_text {
                                                line-height: 22px;
                                            }
                                        }
                                        .temp_result-list-item:last-child {
                                            &::before {
                                                content: "2";
                                            }
                                        }
                                    }
                                }
                            }
                            .temp_result-wrapper_3 {
                                margin-top: 32px;
                                max-height: 365px;
                            }
                            .temp_result-wrapper_4 {
                                margin-top: 36px;
                                max-height: 365px;
                            }
                            .temp_result-wrapper_five {
                                max-height: 365px;
                            }
                        }
                        .block-buttons {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-top: 0;
                            .btn-prew {
                                width: 66px;
                                height: 66px;
                                margin-right: 26px;
                                font-size: 39px;
                            }
                            .btn-next {
                                width: 260.5px;
                                height: 65px;
                                font-size: 24px;
                            }
                        }
                        .block-buttons_3 {
                            margin-top: 75px;
                        }
                    }
                }
            }
        }
    }

}
@media (min-width: @tablet) and (max-width: @laptop) {
    .quiz-main {
        .container{
            .quiz-main_wrapper {
                margin-top: 0;
                .question {
                    box-shadow: none;
                    .question_container {
                        padding: 54px 0;
                        .question_title {
                            font-size: 27px;
                        }
                        .question_title_text {
                            margin-top: 6px;
                            font-size: 18px;
                        }
                        .steps {
                            max-width: 80%;
                            margin-top: 20px;
                            .step {
                                width: 65px;
                                height: 11px;
                                &:not(:last-child) {
                                    margin-right: 15px;
                                }
                            }
                        }
                        .accent_question {
                            width: 95%;
                            margin: 0 auto;
                            margin-top: 30px;
                            min-height: 142px;
                            padding-top: 41px;
                            padding-left: 26px;
                            .temp_result-boss {
                                top: 23%;
                                right: 2%;
                                display: flex;
                                &::before {
                                    right: 70px;
                                    content: url(../img/tablet/boss.png);
                                }
                                .temp_result-boss_text {
                                    width:13%;
                                    font-size: 10px;
                                }
                            }
                            .accent_question_text {
                                width: 60%;
                                font-size: 20px;
                                text-align: left;
                            }
                        }
                        .accent_question_2 {
                            padding-top: 26px;
                        }
                        .accent_question_3 {
                            padding: 20px 29px;
                        }
                        .accent_question_4 {
                            padding: 19px 29px;
                        }
                        .choice {
                            flex-direction: column;
                            .choice_form {
                                width: 100%;
                                margin-top: 30px;
                                .choice_label {
                                    width: 90%;
                                    height: 62px;
                                    margin: 0 auto;
                                    &:not(:last-child) {
                                        margin-bottom: 17px;
                                    }
                                    .radio-style {
                                        width: 24px;
                                        height: 24px;
                                    }
                                    .choice_input:checked + .radio-style::before {
                                        width: 14px;
                                        height: 14px;
                                    }
                                    .choice_text {
                                        width: 100%;
                                        font-size: 12px;
                                    }
                                }
                            }
                            .temp_result-wrapper {
                                width: 45%;
                                margin: 0 auto;
                                margin-top: 40px;
                                .temp_result {
                                    .temp_result_container {
                                        padding: 11px 14px;
                                    }
                                    .temp_result_calling {
                                        width: 100%;
                                        margin-top: 17px;
                                        font-size: 18px;
                                    }
                                    .temp_result-list {
                                        margin-top: 30px;
                                        margin-bottom: 15px;
                                        .temp_result-list-item {
                                            position: relative;
                                            padding-left: 22px;
                                            &::before {
                                                left: 0;
                                                top: 2px;
                                                width: 16px;
                                                height: 16px;
                                            }
                                            .temp_result-list-item_text {
                                                line-height: 22px;
                                            }
                                        }
                                        .temp_result-list-item:last-child {
                                            &::before {
                                                content: "2";
                                            }
                                        }
                                    }
                                }
                            }
                            .temp_result-wrapper_2 {
                                margin-top: 0;
                            }
                            .temp_result-wrapper_3 {
                                margin-top: 15px;
                            }
                            .temp_result-wrapper_five {
                                margin-top: 0;
                                order: 2;
                            }

                        }
                        .block-buttons {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 47px;

                            .btn-prew {
                                width: 66px;
                                height: 66px;
                                margin-right: 26px;
                                font-size: 39px;
                            }
                            .btn-next {
                                width: 260.5px;
                                height: 65px;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: @mobile) and (max-width: @tablet) {
    .quiz-main {
        .container{
            .quiz-main_wrapper {
                margin-top: 0;
                .question {
                    box-shadow: none;
                    .question_container {
                        width: 100%;
                        padding: 23px 0;
                        .question_title {
                            font-size: 18px;
                        }
                        .question_title_text {
                            margin-top: 5px;
                            font-size: 14px;
                        }
                        .steps {
                            max-width: 100%;
                            margin-top: 20px;
                            .step {
                                width: 36px;
                                height: 11px;
                            }
                        }
                        .accent_question {
                            width: 96%;
                            min-height: 142px;
                            margin: 0 auto;
                            margin-top: 30px;
                            padding: 41px;
                                .temp_result-boss {
                                    display: none;
                                }
                            .accent_question_text {
                                width: 80%;
                                margin: 0 auto;
                                font-size: 17px;
                                text-align: center;
                            }
                        }
                        .accent_question_2 {
                            padding: 13px 40px;
                        }
                        .accent_question_3 {
                            padding: 22px 26px;
                        }
                        .accent_question_4 {
                            padding: 20px 21px;
                        }

                        .choice {
                            flex-direction: column;
                            .choice_form {
                                    width: 100%;
                                    margin-top: 40px;
                                .choice_label {
                                    height: 62px;
                                    &:not(:last-child) {
                                        margin-bottom: 17px;
                                    }
                                    .radio-style {
                                        width: 24px;
                                        height: 24px;
                                    }
                                    .choice_input:checked + .radio-style::before {
                                        width: 14px;
                                        height: 14px;
                                    }
                                    .choice_text {
                                        width: 95%;
                                        font-size: 12px;
                                    }
                                }
                            }
                            .temp_result-wrapper {
                                width: 100%;
                                max-height: 368px;
                                margin-top: 40px;
                                margin-left: 0;
                                .temp_result {
                                    .temp_result_container {
                                        padding: 11px 14px;
                                    }
                                    .temp_result_calling {
                                        width: 90%;
                                        margin-top: 17px;
                                        font-size: 18px;
                                    }
                                    .temp_result-list {
                                        margin-top: 30px;
                                        margin-bottom: 15px;
                                        .temp_result-list-item {
                                            position: relative;
                                            padding-left: 22px;
                                            &::before {
                                                left: 0;
                                                top: 2px;
                                                width: 16px;
                                                height: 16px;
                                            }
                                            .temp_result-list-item_text {
                                                line-height: 22px;
                                            }
                                        }
                                        .temp_result-list-item:last-child {
                                            &::before {
                                                content: "2";
                                            }
                                        }
                                    }
                                }
                            }
                            .temp_result-wrapper_2 {
                                margin-top: 0;
                            }
                            .temp_result-wrapper_3 {
                                margin-top: 10px;
                            }
                            .temp_result-wrapper_4 {
                                margin-top: 20px;
                            }
                            .temp_result-wrapper_five {
                                margin-top: 0;
                                order: 2;
                            }
                        }
                        .block-buttons {
                            height: 60px;
                            margin-top: 41px;
                            margin-bottom: 0;
                            padding-left: 0;

                            .btn-prew {
                                width: 49px;
                                height: 49px;
                                margin-right: 20px;
                                font-size: 29px;
                            }
                            .btn-next {
                                width: 193px;
                                height: 48px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

