.quiz-main {
    .question-3 {
        // position: absolute;
        // top: 0;
        .accent_question {
            .accent_question_text_3 {
                width: 70%;
                font-family: 'Raleway',sans-serif;
                font-weight: 500;
                font-size: @title_desktop;
            }
            .accent_question_explanation {
                margin-top: 4px;
                width: 69%;
                font-size: @accent_quest_size_desktop;
            }
        }
        .choice {
            .slider-cards-container {
                width: 70%;
                margin-top: 31px;
                display: flex;
                flex-wrap: wrap;
                .slider-card {
                    position: relative;
                    width: 309px;
                    height: 259px;
                    margin-bottom: 30px;
                    padding: 10px;
                    border: 1px solid @accent_color;
                    border-radius: 10px;
                    &:not(:nth-child(even)){
                        margin-right: 30px;
                    }
                    .slider_1 {
                        .slider_1-button-prev {
                            &::after {
                                position: absolute;
                                left: -1px;
                                content: url(../img/desktop/arrow_left.svg);
                            }
                        }
                        .slider_1-button-next {
                            &::after {
                                position: absolute;
                                right: -1px;
                                content: url(../img/desktop/arrow_right.svg);
                            }
                        }
                    }
                    .slider-card_form {
                        width: 100%;
                        display: flex;
                        margin-top: 17px;
                        .slider-card_label {
                            position: relative;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            .slider-card_check {
                                position: absolute;
                                width: 1px;
                                height: 1px;
                                overflow: hidden;
                                clip: rect(0 0 0 0);
                            }
                            .check-style {
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                border: 1px solid @accent_color;
                                border-radius: 4px;
                            }
                            .slider-card_check:checked + .check-style::before {
                                position: absolute;
                                content: url(../img/check.svg);
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                            .slider-card_text {
                                padding-left: 28px;
                                font-size: 15px;
                            }
                            .slider-card_text--modern {
                                .text--modern_span {
                                    display: block;
                                    font-size: 12px;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    }

    @media (min-width: @laptop) and (max-width: @desktop) {
        .quiz-main {
            .question-3 {
                .accent_question {
                    .accent_question_text_3 {
                        width: 70%;
                        font-family: 'Raleway',sans-serif;
                        font-size: 30px;
                        font-weight: 400;
                    }
                    .accent_question_explanation {
                        margin-top: 4px;
                        width: 69%;
                        font-size: @accent_quest_size_desktop;
                    }
                }
                .choice {
                    .slider-cards-container {
                        width: 60%;
                        margin-top: 32px;
                        margin-left: auto;
                        padding-left: 10px;
                        .slider-card {
                            width: 258px;
                            height: 227px;
                            min-height: 217px;
                            margin-bottom: 25px;
                            &:not(:nth-child(even)){
                                margin-right: 25px;
                            }

                            .slider-card_form {
                                width: 100%;
                                display: flex;
                                margin-top: 17px;
                                padding-bottom: 10px;

                                .slider-card_label {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    .slider-card_check {
                                        position: absolute;
                                        width: 1px;
                                        height: 1px;
                                        overflow: hidden;
                                        clip: rect(0 0 0 0);
                                    }
                                    .check-style {
                                        position: absolute;
                                        width: 20px;
                                        height: 20px;
                                        border: 1px solid @accent_color;
                                        border-radius: 4px;
                                    }
                                    .slider-card_check:checked + .check-style::before {
                                        position: absolute;
                                        content: url(../img/check.svg);
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%,-50%);
                                    }
                                    .slider-card_text {
                                        padding-left: 28px;
                                        font-size: 15px;
                                    }
                                    .slider-card_text--modern {
                                        .text--modern_span {
                                            display: block;
                                            font-size: 12px;
                                            font-weight: 300;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            }
    }
    @media (min-width: @tablet) and (max-width: @laptop) {
        .quiz-main {
            .question-3 {
                .accent_question {
                    .accent_question_text_3 {
                        font-size: 20px;
                    }
                    .accent_question_explanation {
                        margin-top: 4px;
                        width: 69%;
                        font-size: 13px;
                    }
                }
                .choice {
                    .slider-cards-container {
                        width: 90%;
                        margin: 0 auto;
                        margin-top: 32px;
                        .slider-card {
                            width: 258px;
                            height: 227px;
                            min-height: 217px;
                            margin-bottom: 25px;
                            &:not(:nth-child(even)){
                                margin-right: 25;
                            }
                        }
                    }
                }
            }
            }
    }
    @media (min-width: @mobile) and (max-width: @tablet) {
        .quiz-main {
            .question-3 {
                .accent_question {
                    .accent_question_text_3 {
                        width: 100%;
                        font-size: 17px;
                        text-align: center;
                    }
                    .accent_question_explanation {
                        width: 100%;
                        margin-top: 4px;
                        font-size: 13px;
                        text-align: center;
                    }
                }
                .choice {
                    .slider-cards-container {
                        width: 90%;
                        margin: 0 auto;
                        margin-top: 32px;
                        .slider-card {
                            width: 258px;
                            height: 227px;
                            min-height: 217px;
                            margin-bottom: 25px;
                            &:not(:nth-child(even)){
                                margin-right: 25;
                            }
                        }
                    }
                }
            }
        }
    }
