.quiz-main {
.question-2 {
    // position: absolute;
    // top: 0;
    .accent_question {
        .accent_question_explanation {
            margin-top: 4px;
            width: 69%;
            font-size: @accent_quest_size_desktop;
        }
    }
    .choice {
        .frame {
            width: 31.5%;
            padding-top: 50px;
            .frame-text {
                padding: 0 58px;
                padding-top: 30px;
                font-size: 17px;
            }
            .frame-pic {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}
}
